RewriteEngine On
# Let files and folder through
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Remove .php extension form users.php
RewriteRule ^users/?$ users.php [NC,L]

#Rewrite URL
RewriteRule ^users/([0-9]+)/?$ users.php?id=$1 [NC,L]

